body {
    background-color: rgb(31, 31, 46) !important;
    overflow-x: hidden;
    font-family: 'Tomorrow', sans-serif !important;
}

.cardDestaque {
    overflow: hidden;
    position: relative;
}

.cardDestaque .card-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    border-radius: 5px;
    object-fit: cover;
}

.card {
    max-width: 30vw; 
    max-height: 30vh;
    border: none !important;
}

.card-body {
    background-color: rgb(47, 47, 70) !important;
    color: ghostwhite;
    font-size: 1.1rem;
}

.card-title {
    font-size: 1.4rem;
}

.list-group-item {
    background-color: rgb(47, 47, 70) !important;
    color: ghostwhite;
    font-size: 1.1rem !important;
}

.cardDestaque:hover .card-img {
    transform: scale(1.1);
}

.cardDestaque .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.pesquisa {
    width: 60vw;
}

.form-control {
    background-color: rgb(47, 47, 70) !important;
}

input:focus {
    outline: none !important;
}

.btn:hover {
    filter: brightness(50%);
    transition: 0.5s;
}

.swiper-container {
    width: 100%;
    height: 100%;
    justify-content: center !important;
    display: flex;
}

.swiper-slide {
    width: 33vw; 
    max-width: 33vw;
}

.swiper-button-next, .swiper-button-prev {
    color: #fff !important;
}

.cardDestaque-small {
    width: 12rem;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.cardPesquisa:hover .card-img {
    transform: scale(1.1);
}

.cardPesquisa .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 5px;
}

.cardPesquisa {
    overflow: hidden;
    position: relative;
    max-width: 20vw;
    max-height: 20vh;
    border: none !important;
}

.cardPesquisa .card-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    border-radius: 5px;
    object-fit: cover;
}

/* Ajustar a posição das setas */
.swiper-button-next, .swiper-button-prev {
    top: 10%;
    transform: translateY(-50%);
}

.detalhestext {
    font-size: 1.5rem !important;
}

.detalhestitle {
    font-size: 2rem !important;
}

.cardDetalhes {
    width: 100% !important; 
}

.carousel-inner img {
    max-width: 60vw;
    min-width: 60vw; 
    width: 60%; 
    height: auto;
    min-height: 40vw; 
    object-fit: cover; 
    border-radius: 15px 15px 0px 0px;
}

.custom-card {
    background-color: rgb(47, 47, 70);
    color: ghostwhite;
    font-family: 'Tomorrow', sans-serif;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
    position: relative;
    max-width: 60vw; 
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 200px;
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        max-width: 90vw;
        max-height: none;
    }
    
    .cardPlataforma {
        flex-direction: column !important;
        background-color: aquamarine !important;
    }

    .detalhestext {
        font-size: 0.6rem !important;
    }
    
    .detalhestitle {
        font-size: 1.2rem !important;
    }
    
    .card-img-left {
        max-width: 100%;
        max-height: none;
    }
}

.publishers {
    max-width: 80%;
}

.cardPublisher-col {
    flex: 0 0 20%;
    max-width: 20%;
}

.cardPublisher {
    width: 100%;
    height: 100%;
    border: none !important;
    background-color: rgb(47, 47, 70);
    color: ghostwhite;
    font-family: 'Tomorrow', sans-serif;
    margin-bottom: 30px;
    max-width: 18rem;
    max-height: 30rem;
}

.cardPublisher .card-img-top {
    max-height: 20vh !important;
    width: 100%;
    object-fit: cover;
}

.cardPublisher .card-body {
    background-color: rgb(47, 47, 70);
    color: ghostwhite;
    font-size: 1.1rem;
}

.cardPublisher .card-title {
    font-size: 1.4rem;
}

.cardPublisher .list-group-item {
    background-color: rgb(47, 47, 70);
    color: ghostwhite;
    font-size: 1.1rem !important;
}

/* Responsividade */
@media (max-width: 768px) {
    .cardPublisher-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .cardPublisher-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}



.cardPlataforma .card-img-left {
  max-width: 30vh;
  height: auto;
}

.cardPlataforma .card-body {
  background-color: rgb(47, 47, 70) !important;
  color: ghostwhite;
  font-size: 1.1rem;
}

.cardPlataforma .card-title {
  font-size: 1.4rem;
}

.cardPlataforma .list-group-item {
  background-color: rgb(47, 47, 70) !important;
  color: ghostwhite;
  font-size: 1.1rem !important;
}
